# # # Database connection string
# # DATABASE_URI=mongodb://127.0.0.1/your-database-name

# # # Or use a PG connection string
# # #DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name

# # # Used to encrypt JWT tokens
# # PAYLOAD_SECRET=YOUR_SECRET_HERE

# # # Used to configure CORS, format links and more. No trailing slash
# # NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# # # Secret used to authenticate cron jobs
# # CRON_SECRET=YOUR_CRON_SECRET_HERE

# # # Used to validate preview requests
# # PREVIEW_SECRET=YOUR_SECRET_HERE

# DATABASE_URI=mongodb+srv://ayanmahato999:b6UsIykpBhzfkAty@psg.kltuq.mongodb.net/?retryWrites=true&w=majority&appName=psg
# PAYLOAD_SECRET=deb027828289b568e89d3c22
# NEXT_PUBLIC_SERVER_URL=http://localhost:3000
# CRON_SECRET=YOUR_CRON_SECRET_HERE
# PREVIEW_SECRET=xdvnhsoifgvwsbgv41d68f4b6d4b685d4
# S3_BUCKET=media-bucket-999

# S3_REGION=ap-southeast-2

# S3_ACCESS_KEY_ID=AKIAUCDLUVIESQM7ICMQ
# S3_SECRET_ACCESS_KEY=TbE82VA5wR+h+ywSmzNyO23T/U6/V1+KdcJZH5vk
